.App {
  text-align: center;
  color: rgb(223, 223, 223);

}

.App-header {
  
  background-color: #1a1c1f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 223, 223);
}
.main-content{
  min-height: 90vh;
  background-color: #282c34;
  width: 100vw;

}

.footer{
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #1a1c1f;
}

.footer > h3, p{
  font-size: 1rem;
}

